.circle {
    width: 300px;
    height: 300px;
    background-color: rgb(84, 84, 140);
    transition: background-color 1s ease-in, border-radius 2s;
}

.circle:hover {
    background-color: mediumaquamarine;
    border-radius: 50%;
    /* border: 4px solid salmon; */
}

section div {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    margin: 20px 0px;
    transition: margin-left 3s;

}

/* https://easings.net/ */

section:hover div {
    margin-left: 500px;
}

div:nth-of-type(1) {
    transition-timing-function: ease-in;
}

div:nth-of-type(2) {
    transition-timing-function: ease-out;
}

div:nth-of-type(3) {
    transition-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
}

div:nth-of-type(4) {
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}